@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
  display: inline-flex;
  overflow-x: hidden;
/*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
  scroll-snap-type: x mandatory;
/* all below will hide the scrollbar on all browsers.    */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}


.quantity-input {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 3px;
}
 .quantity-input:focus {
   background: red;
}
 .quantity-input__modifier, .quantity-input__screen {
   user-select: none;
   outline: none;
}
 .quantity-input__modifier {
   padding: 0.5rem;
   width: 2.5rem;
   background: #3E3E3E;
   color: #fff;
   border: 0 solid #dbdbdb;
   text-align: center;
   /* text-shadow: 0 1px 0 rgba(255, 255, 255, .6); */
   cursor: pointer;
}
 /* .quantity-input__modifier:hover {
   background: #dadada;
   color: #555;
} */
 .quantity-input__screen {
   width: 3.5rem;
   padding: 0.5rem;
   margin: 0.3rem;
   border: 0;
   border-top: 0 solid #dbdbdb;
   border-bottom: 0 solid #dbdbdb;
   text-align: center;
   color: #6F6F6F;
   font-size: 1.5rem;
   padding-top: 0.2rem;
   margin-top: 0;
   padding-bottom: 0.05rem;
   margin-bottom: 0;
}

.breadcrumps {
  font-size: 0.7rem;
}
